body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;

}

nav {
    display: flex;
    background-color: black;
    height: 100px;
}

.w-40 {
    width: 40%;
    height: 100%;
}

.w-60 {
    width: 60%;
    height: 100%;
    display: flex;
}

.w-80 {
    width: 80%;
    height: 100%;
}

.w-20 {
    width: 20%;
    height: 100%;
}

.desktop-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    height: 100%;
}
.logo {
    padding: 10px 0 0 80px;
    display: flex;
    align-items: center;
}

.top-nav {
    display: none;
}

.logo-text {
    color: white;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

}
 .menu-item {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
 }

 .top-image-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: url(../images/first.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 .main-title {
    margin: 0 0 15px;
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    font-weight: bold;
 }

 .secondary-title {
    margin: 0 0 15px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    background: rgba(255, 0, 0, 0.55);
    padding: 5px 15px;
 }

 .text-centered {
    text-align: center;
 }

 .btn-listen-now {
    padding: 15px 55px;
    background-color: white;
    color: red;
     font-family: 'Work Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
     width: max-content;
     cursor: pointer;
 }

 .top-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .item-circle {
    background: red;
    border-radius: 50%;
    width: 230px;
    height: 230px;
 }

 .item-container {
    width: 230px;
 }

 .main-second-section {
    display: flex;
    padding: 130px 80px;
    justify-content: space-evenly;
 }
 

 .item-circle {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .item-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 30px 45px 20px 0px;
 }

 .item-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
 }

 .main-third-section{
     display: flex;
     align-items: center;
 }
 .left-block {
 }

 .right-block {
     position: relative;
     background-color: red;
     width: 100%;
     height: 604px;
 }

 .right-block-inner {
     position: absolute;
     top: 180px;
     left: -100px;
     color: white;
 }

 .right-block-title {
     font-size: 48px;
     font-weight: bold;
     line-height: 56px;
     text-transform: uppercase;
     width: 400px;
 }

 .right-block p {
     font-size: 24px;
 }

.main-fourth-section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
 .main-fourth-section .title {
     font-style: normal;
     font-weight: 500;
     font-size: 64px;
     line-height: 75px;
     text-transform: uppercase;
 }

 .main-fourth-section .sub-title {
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 28px;
     text-align: center;
     width: 800px;
     margin-top: 30px;
 }

 .main-fourth-section .content {
     background-color: white;
     display: flex;
     justify-content: space-around;
     filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.45));
 }

 .main-fourth-section .item {
     width: 350px;
     height: 730px;
 }

 .main-fourth-section .content-wrapper {
     width: 100%;
     display: flex;
     justify-content: space-around;
     margin-top: 100px;

 }

 .main-fourth-section .content .title {
     font-weight: 400;
     font-size: 22px;
     line-height: 28px;
 }

.main-fourth-section .content .meta-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: red;
    margin-top: 20px;

}

.main-fourth-section .content .meta-info span{
    margin-right: 30px;
}

.main-fourth-section .content .text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    margin-top: 20px;
}

#send-form-btn{
    transition: 1s ease-out 100ms;
}

#send-form-btn:hover {
    background: red;
    color: black;
}

label {
    position: absolute;
    left: 5px;
    top: 13px;
    opacity: 0.7;
    color: #933f3f;
}

form .row {
    margin-bottom: 0 !important;
    position: relative;
}

input:focus ~ label{
    opacity: 0;
}

textarea:focus ~ label{
    opacity: 0;
}
.main-fourth-section .content .body {
    padding: 25px 20px 35px;
}

.footer {
 margin-top: 180px;
}

.newsletter-wrapper {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    background-color: red;
    padding: 40px 110px;
}
.newsletter-wrapper .content .body{
    display: inline-block;
    width: 85%;
    background: white;
    padding: 25px 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A8A8A;
}

.newsletter-wrapper .content .button{
    width: 15%;
    color: white;
    display: inline-block;
    background: black;
    padding: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.newsletter-wrapper .content{
    width: 100%;
    display: flex;

}
.newsletter-wrapper .title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.18em;
    color: #FFFFFF;
}

.footer-low {
    background: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 115px 0 50px;
}

.footer-low .title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #cb0b0b #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #cb0b0b;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
.footer-low .footer-item{
    width: 300px;
    background: black;
    color: white;
}

.footer-low .footer-item:nth-child(2){
    width: 500px;
}

.footer-low .footer-item:nth-child(3){
    width: 270px;
}

.footer-low .content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-low .content .row{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.footer-low .content .row .icon{
    width: 45px;
    margin-right: 10px;
}

.social-links svg {
    margin-right: 25px;
}

.footer-low input,textarea {
    background: white;
    border-radius: 10px;
    padding: 15px 10px;
    width: 460px;
    border: none;
    margin-bottom: 24px;
}

.footer-low .btn-listen-now {
    border-radius: 10px;
}

.footer-low .row img {
    margin-right: 30px;
}

input::-webkit-input-placeholder {
    font-family: 'Work Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #919191;
}

textarea::-webkit-input-placeholder {
    font-family: 'Work Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #919191;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 400px) {

    .desktop-menu {
        display: none;
    }
    .main-second-section {
       flex-direction: column;
       padding: 130px 0;
       align-items: center;
   }

    .main-fourth-section .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-fourth-section .content-wrapper .content {
        margin-bottom: 35px;
    }

    .footer-low {
        flex-direction: column;
        align-items: center;
    }

    .main-third-section img {
        width: 225px;
        height: auto;
    }

    .footer-low input, textarea {
        width: 290px;
    }

    .footer-low .footer-item:nth-child(2) {
        width: 320px;
    }

    .footer-low .footer-item:nth-child(2) .content{
        padding: 5px;
        box-sizing: border-box;
    }

    .footer-low .footer-item {
        margin-bottom: 30px;
    }

    .footer-low .content .row {
        justify-content: center;
    }

    .footer-low .title {
        text-align: center;
    }

    .newsletter-wrapper {
        height: unset;
        padding: 15px 30px;
    }

    .newsletter-wrapper .content .body {
        display: inline-block;
        width: 65%;
        background: white;
        padding: 25px 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #8A8A8A;
    }

    .newsletter-wrapper .content .button {
        width: 35%;
        color: white;
        display: inline-block;
        background: black;
        padding: 25px 0;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
    }

    .main-fourth-section .fourth-title {
        text-align: center;
    }

    .main-fourth-section .sub-title {
        width: unset;
    }

    .main-third-section .btn-listen-now {
        border: 1px solid;
        margin: -15px;
    }

    .right-block-title {
        width: unset;
        font-size: 25px;
    }

    .footer-low .row img:nth-child(2) {
        margin: 0;
    }

    .main-fourth-section .content {
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.45));
        width: 90%;
    }

    .main-fourth-section img {
        width: 100%;
        height: auto;
    }

    .main-fourth-section .content .title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    .logo {
        padding: 0;
    }

    .w-40 {
        padding: 0 15px;
    }

    .w-80 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 100px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }

}

@media (max-width: 767px) {
    /*при розмірі екрану менше 767px виключаємо відображення відео в контейнері і
    встановлюємо рисунок на фон контейнеру*/
    #video {
        display: none;
    }
    #video-bg {
        background: url('https://assets.codepen.io/32795/poster.png');
        background-size: cover;
        height: 300px;
        width: 100%;
    }
}












 
